.custom-category__main {
    background: whitesmoke;
    box-shadow: gainsboro 20px;
    border: 1px solid #dad8d8;
    display: inline-block;
    margin-left: 7px;
    width: 100%;
}

.dropMenu {
    display: flex;
    align-items: center;
    justify-items: end;
    border-top: 1px solid #dad8d8;
    padding: 0 3px 0 0;
    transition: all 100ms ease-in-out;
}

.dropMenu:hover {
    background-color: #0d6efd;
    color: white;
    scale: 1.05;
}

.dropMenu:hover svg {
    color: white;
}

.dropMenu:first-child {
    border-top: none;
}

.dropMenu a {
    display: flex;
    align-items: center;
    padding: 7px 15px 7px 11px;
    flex-grow: 1;
}

.dropMenu a svg {
    color: #0d6efd;
    transition: all 100ms;
}

.dropMenu a span {
    margin-left: 11px;
}

.dropMenu p {
    display: flex;
    align-items: center;
    padding: 7px 15px 7px 11px;
    flex-grow: 1;
    cursor: pointer;
}

.dropMenu p svg {
    color: #0d6efd;
    transition: all 100ms;
}

.dropMenu p span {
    margin-left: 11px;
    cursor: pointer;
}

.active-item {
    background-color: #0d6efd;
    color: #fff;
}

.active-item>svg {
    fill: white;
}