.custom-category__main {
    background: whitesmoke;
    box-shadow: gainsboro 20px;
    border: 1px solid #dad8d8;
    display: inline-block;
    margin-left: 7px;
}

.dropMenu {
    display: flex;
    align-items: center;
    justify-items: end;
    border-top: 1px solid #dad8d8;
    padding: 0 3px 0 0;
    transition: all 100ms ease-in-out;
}

.dropMenu:hover {
    background-color: #0d6efd;
    color: white;
    scale: 1.05;
}

.dropMenu:hover svg {
    color: white;
}

.dropMenu:first-child {
    border-top: none;
}

.dropMenu a {
    display: flex;
    align-items: center;
    padding: 7px 15px 7px 11px;
    flex-grow: 1;
}

.dropMenu a svg {
    color: #0d6efd;
    transition: all 100ms;
}

.dropMenu a span {
    margin-left: 11px;
}

/* Extra small devices (phones, 0px to 575.98px) */
@media screen and (max-width: 600px) {
    .custom-category__main {
        font-size: 12px;
    }

    .dropMenu a {
        padding: 5px;
    }
}

/* Small devices (landscape phones, 576px to 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .dropMenu {
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px to 991.98px) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices (desktops, 992px to 1199.98px) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .parent {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Extra large devices (large desktops, 1200px and above) */
@media screen and (min-width: 1200px) {
    .parent {
        grid-template-columns: repeat(5, 1fr);
    }
}