.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.custom-btn .icon {
    margin-right: 0.5rem;
}

.cart-btn {
    background-color: #4a90e2;
    position: relative;
}

.buy-now-btn {
    background-color: transparent;
    border: 1px solid gray;
    position: relative;
}

.wishlist-btn {
    background-color: transparent;
    border: 1px solid gray;
    position: relative;
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.5);
}

.cart-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 74, 92);
    z-index: -1;
    transition: transform 0.5s ease;
    transform-origin: left;
    transform: scaleX(0);
}

.buy-now-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 61, 92);
    z-index: -1;
    transition: transform 0.5s ease;
    transform-origin: bottom;
    transform: scaleX(0);
}

.wishlist-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(187, 246, 38);
    z-index: -1;
    transition: transform 0.5s ease;
    transform-origin: bottom;
    transform: scaleX(0);
}

.cart-btn:hover::before,
.buy-now-btn:hover::before,
.wishlist-btn:hover::before {
    transform: scaleX(1);
}